:host {
  display: flex;
  height: 100%;

  .left-side {
    flex: 1;
    background-color: rgb(229 229 229);
    padding: 1vh;
  }

  .right-side {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(83 83 107);
    flex-direction: column;
  }

  h1 {
    color: white;
    font-weight: 400;
    font-size: 45px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    margin-top: 50%;
    width: 100%;

    .wrapper-input-field {
      display: flex;
      flex-direction: column;
      width: 60%;
    }

    label {
      color: white;
      font-size: 13px;
    }
  }
}
