:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #06172b;


.login-card {
  background: linear-gradient(
    to top right,
    #d4d8dd 0%,
    #ffffff 90%
  );
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(60, 64, 67, 0.3),
              0 4px 8px rgba(60, 64, 67, 0.15);
  width: 70%;
  height: 80%;
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
  flex-wrap: wrap;

    .card-header {
      width: 100%;
      text-align: center;
      margin-bottom: 2rem;

      .title-row {
        display: flex;
        align-items: center;
        gap: 0.75rem; 
        margin-bottom: 0.5rem;
        justify-content: flex-start;
      }

      .bookfin-logo {
        width: 6rem;  
        height: auto;
      }

      h1 {
        color: #06172b;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
        text-align-last: justify;
      }

      .divider {
        width: 100%;
        height: 1px;
        background-color: #06172b;
        border-radius: 4px;
        margin: 0 auto;
      }
    }

    .text-section {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 2rem;

      .title {
        color: #06172b;
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 6rem;
        text-align: left;
      }
    }

    form {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding-right: 2rem;

      .wrapper-input-field {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      .button-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.5rem;
      }

      .forgot-password-button {
        background: #06172b;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 10px 24px;
        font-size: 0.95rem;
        font-weight: 500;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: #332f2f;
        }

        &:disabled {
          background: #ccc;
          cursor: not-allowed;
        }
      }

      .sign-in-button {
        background: transparent;
        color: #264AFF;
        border: none;
        font-size: 0.9rem;
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.2s ease;
        border-radius: 4px;
      }
    }
  }
  .error-message {
    color: #d93025;
    font-size: 1rem;
    margin-top: 6px;
    font-weight: 500;
    letter-spacing: 0.2px;
    display: flex;
    align-items: center;
    gap: 4px;

    small {
      background: rgba(217, 48, 37, 0.1);
      padding: 3px 8px;
      border-radius: 6px;
      color: #d93025;
    }
  }
}
