:host {
  height: 6vh;
  border: hidden;
  background-color: #dfdfdf;

}
.custom-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

}

.input-icon-img {
  width: 1.5em;
  height: 1.5em;
  margin-left: 3%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.input-placeholder {
  width: 100%;
  padding-left: 17%; 
  height: 36px;
  box-sizing: border-box;
}

.input-hint {
  position: absolute;
  left: 35px;
  color: #666;
  pointer-events: none;
}
