:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #06172b;


  .login-card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 1px 3px rgba(60, 64, 67, 0.3),
                0 4px 8px rgba(60, 64, 67, 0.15);
    width: 70%;
    height: 80%;
    padding: 3rem 2.5rem;

    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    gap: 3rem;

    .text-section {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 2rem;

      .title {
        color: #06172b;
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
        text-align: left;
      }
    }

    form {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding-right: 2rem;

      .wrapper-input-field {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      .button-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.5rem;
      }

      .advance-button {
        background: #06172b;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 10px 24px;
        font-size: 0.95rem;
        font-weight: 500;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: #332f2f;
        }

        &:disabled {
          background: #ccc;
          cursor: not-allowed;
        }
      }

      .create-account-button {
        background: transparent;
        color: #264AFF;
        border: none;
        font-size: 0.9rem;
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.2s ease;
        border-radius: 4px;
      }
    }
  }
  .error-message {
    color: #d93025;
    font-size: 1rem;
    margin-top: 6px;
    font-weight: 500;
    letter-spacing: 0.2px;
    display: flex;
    align-items: center;
    gap: 4px;

    small {
      background: rgba(217, 48, 37, 0.1);
      padding: 3px 8px;
      border-radius: 6px;
      color: #d93025;
    }
  }
}
