<div class="right-side">
  <h1>  </h1>
  <a href="" link-button>Teste Grátis.</a>
</div>
<div class="left-side">
  <form>
    <span>Fazer login</span>
    <div class="wrapper-input-field">
      <input-component iconSrc="assets/icons/user-icon.png" placeholder="Usuário" type="text" [(value)]="username"></input-component>
    </div>
    <div class="wrapper-input-field">
      <input-component iconSrc="assets/icons/password-icon.png" placeholder="Senha" type="password" [(value)]="password"></input-component>
    </div>
    <div class="button-container">
      <button type="button" class="create-account-button">
        Criar conta
      </button>
      <button type="button" class="advance-button" (click)="onLogin()">
        Avançar
      </button>
    </div>
  </form>
</div>
