<div class="login-card">
  <h1>Fazer login</h1>
  
  <div class="subtitle">Ir para o Scrapper</div>
  <form>

    <div class="wrapper-input-field">
      <input-component iconSrc="assets/icons/user-icon.png" placeholder="Usuário" type="user"></input-component>
    </div>

    <div class="wrapper-input-field">
       <input-component iconSrc="assets/icons/password-icon.png" placeholder="Senha" type="password">></input-component>
    </div>

    <div class="button-container">
      <button class="create-account-button" type="button">Criar conta</button>
      <button class="advance-button" type="submit">Avançar</button>
    </div>
  </form>
</div>
